:root{
 --blue: rgba(38, 182, 227, 1);
 --blue-trans: rgba(38, 182, 227, 0.2);
 --red: rgba(217, 0, 0, 1);
 --red-trans: rgba(217, 0, 0, 0.2);
 --green: rgba(0, 181, 18, 1);
 --green-trans: rgba(0, 181, 18, 0.2);
 --grey: rgba(201, 201, 201, 1);
 --spacing-1: 20px;
 --spacing-2: 30px;
 --spacing-3: 40px;
 --spacing-4: 60px;
 --spacing-5: 89px;
 --spacing-6: 120px;
 --spacing-7: 130px;

}


* {
font-family: 'Poppins';
color: #ffffff;
font-weight: 400;
margin: 0px;
padding: 0px;
}



.hidden{
 display: none !important;
}

button{
 cursor: pointer;
}

button:disabled{
 pointer-events: none;
}

#start-screen{
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
}

#start-btn{
 border-radius: 50%;
 width: 90%;
 max-width: 579px;
 aspect-ratio: 1/1;
 font-size: 96px;
 background-color: var(--blue);
 box-shadow: 0px 0px 40px 0px var(--blue);
 border:none;
 cursor: pointer;
}

#quiz-screen{
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100%;
}

#progress{
 margin-top: var(--spacing-3);
 margin-bottom: var(--spacing-3);
 height: 50px;
 width: 100vw;
 position: relative;
 display: flex;
 justify-content: center;
}

#Rectangle1{
 position: absolute;
 width: 100%;
 height: 2px;
 top: 50%;
 background: var(--grey);
 left: 0;
 z-index: 1;
}

#quiz-nodes{
 width: 1320px;
 display: flex;
 justify-content: space-between;
 z-index: 2;
}

.quiz-node{
 border-radius: 50%;
 height: 50px;
 width: 50px;
 font-size: 16px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.prev-node{
 border-color: var(--grey);
 border-width: 2px;
 border-style: solid;
 color: var(--grey);
 background-color: #ffffff;
}

.current-node{
 background-color: var(--blue);
 box-shadow: 0px 0px 10px 0px var(--blue);
 border:none;
 color: #ffffff;
}

.next-node{
 border-color: var(--blue);
 border-width: 2px;
 border-style: solid;
 color: var(--blue);
 background-color: #ffffff;
}

#question{
 margin-bottom: var(--spacing-4);
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: var(--blue);
 padding: 50px 130px 50px 130px;
 box-sizing: border-box;
}

#question h2{
 font-size: 32px;
 overflow-wrap: break-word;
 max-width: 100%;
}

#answers{
 display: grid;
 grid-template: "ans1 ans2" auto "ans3 ans4" auto / auto auto;
 gap: var(--spacing-3) var(--spacing-4);
 margin-bottom: var(--spacing-4);
}

.ansbtn{
 font-size: 24px;
 border-color: var(--blue);
 background-color: #ffffff;
 width: 560px;
 border-radius: 10px;
 border-width: 1px;
 padding: 30px 20px 30px 20px;
 text-align: left;
 color: var(--blue);
 border-style: solid;
}

#ans1{
 grid-area: ans1;
}

#ans2{
 grid-area: ans2;
}

#ans3{
 grid-area: ans3;
}

#ans4{
 grid-area: ans4;
}

.ansbtn:hover{
 background-color: var(--blue-trans);
}

.selected{
 color: #ffffff;
 background-color: var(--blue);
}

.ansbtn.selected:hover{
 background-color: var(--blue);
}

.wrong{
 color: var(--red);
 border-color: var(--red);
 background-color: var(--red-trans);
}

.correct{
 color: var(--green);
 border-color: var(--green);
 background-color: var(--green-trans);
}

#submit-btn, #next-btn{
 font-size: 32px;
 font-weight: 600;
 background-color: var(--blue);
 border: none;
 padding: 12px 40px 12px 40px;
 border-radius: 10px;
}

#submit-btn:hover, #next-btn:hover{
 box-shadow: 0px 0px 10px 0px var(--blue);
}

#submit-btn:disabled{
 background: var(--grey);
}

#score-screen{
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100%;
}

#score-screen h2{
 font-size: 96px;
 margin-top: var(--spacing-6);
 margin-bottom: var(--spacing-4);
 color: var(--blue);
}

#again{
 width: 395px;
 aspect-ratio: 1/1;
 box-shadow: 0px 0px 40px 0px var(--blue);
 background-color: var(--blue);
 border-radius: 50%;
 border: none;
 font-size: 64px;
}

@media (max-width: 1200px){
 #answers{
  display: grid;
  grid-template: "ans1" auto "ans2" auto "ans3" auto "ans4" auto / 100%;
  gap: 20px;
  margin-bottom: var(--spacing-3);
 }

 .ansbtn{
  width: 370px;
  font-size: 20px;
 }

 #question p{
  font-size: 20px;
 }

 #question{
  padding: 40px;
 }

 #quiz-nodes{
  width: 430px;
 }

 .quiz-node{
  width: 30px;
  height: 30px;
 }

 #progress{
  height: 30px;
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-2);
 }

 #score-screen h2{
  font-size: 48px;
  margin-top: var(--spacing-7);
  margin-bottom: var(--spacing-5);
 }
}